.header {
    height: 120px;
    background-image: rgb(245,245,245);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__logo img {
    height: 60px;
}

.navbar__list {
    padding-top:8px;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.navbar__item,
.navbar__link {
    display: inline-block;
    font-size: 15px;
    color:var(--black-color);
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

.navbar__link {
    padding: 12px;
    color:var(--white-color);
    border-radius: 4px;
}

.navbar__link:hover {
    text-decoration: underline;
    color: white;
}

.navbar__link--blue{
    background-color: #3961fb;
}

.navbar__link--red {
    background-color: #f73859;
}

.navbar__link--strong{
    font-weight: 500;
}

.fa-plus{
    padding:0 0 0 4px;
}

.navbar-menu {
    height: 40px;
    background-color: #025aac;
}

.navbar-menu__list {
    list-style: none;
    margin:0;
    padding: 0;
}

.navbar-menu__item {
    display: inline-block;
    color:var(--white-color);
    padding: 8px;
    font-size: 15px;
    font-weight: 450;
    line-height: 24px;
    margin: 0;
}

.navbar-menu__item:hover {
    background-color: #f73859;
}

/* .navbar-menu__link + .navbar-menu__link {
    border-left:solid 1px rgb(65, 65, 65);
} */

.filter-top {
    background-color: #febb02;
    padding: 10px;
    width: 1100px;
    margin: 10px 0px 20px 50px;
    border-radius: 5px;
}

.filter-body {
    display: inline-block; 
}

.filter-item {
    display: inline-flex;
    width: 212px;
    padding: 12px;
    border-radius:6px;
    background-color: var(--white-color);
    font-size: 14px;
    border: none;
}

.filter-item:first-child {
    color: #333333;
}

.filter-item__select {
    color:#baa692;
    justify-content: space-around;
}

.filter-item__submit {
    background-color: #0071c2;
    color:var(--white-color);
    text-align: center;
    display: inherit;
}

.fa-solid {
    display: block;
}
.filter_item__combo {
    display: inline-block;
    flex: 3;
}

.fa-solid {
    font-weight: 100;

}

.filter_item__scroll {
    display:inline-block;
    flex: 3;
}

.wellcome {
    margin: 10px 0px 20px 0px;
}

.wellcome__header {
    font-size: 28px;
    font-weight: 600;
    line-height:24px;
    margin-bottom: 12px;
    color: #333333;
}

.wellcome__body {
    color: #65676b;

}

.location__clearfix {
    margin: 0 240px;
    display:flex;
    justify-content: space-around;
}

.location_link{
    text-decoration:none;
}

.location__provine {
    background-color:white;
    border-radius:4px;
    box-shadow: 2px 2px 10px grey;
}

.location__provine:hover .location_name {
    color: #ff6600;
    opacity: 1;
}
.location__image {
    padding-top: 0;
    width: 190px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.location_name {
    font-size: 14px;
    text-align: center;
    color: #338cdb;
}

.modal {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.open {
    display: flex;
}

.modal-container {
    width: 700px;
    background: #fff;
    min-height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.modal-header {
    display: flex;
    padding: 12px 8px;
    justify-content: space-around;
    border-bottom: solid 1px gray;
}

.modal-close {
    font-size: 18px;
}

.modal-content {
    text-align: center;
    flex:1;
    font-weight: 600;
    text-transform: uppercase;
}

.modal-body {
    min-height: 410px;
    padding: 0 24px;
}

.modal-body__ranger {

}

.ranger-number {
    text-align: center;
    font-size: 22px;
    margin: 28px 0;
    color: #ff6600;
    font-weight: 500;
}

.ranger-ruler {
    height: 4px;
    margin: 0 24px;
    background-color: #ff6600;
    border-radius: 10%;
    justify-content: space-between;
}

.ranger-bar {
    right: auto;
    left: auto;
    justify-content: space-between;
    top: 27%;
    margin: 0 10px;
    display: flex;
    flex: auto;
    width: 624px;
    position: absolute;
}

.ranger-circle {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #888888;
}

.ranger-value {
    display: flex;
   justify-content: space-between;
   font-size: 12px;
   margin: 12px 24px 0px;
}

.ranger-start,
.ranger-end  {
    font-size: 14px;
    margin-top: 8px;
}

.ranger-header {
    margin: 20px;
    font-weight: 600;
}

.ranger-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

.ranger-item {
   background-color: #f1f1f1;
   margin: 4px;
   padding: 8px 4px;
   border-radius: 4px;
   font-size: 14px;
}


.modal-footer {
    text-align: center;
    text-transform: uppercase;
    background-color: #ffa500;
    padding: 8px;
}

.modal-room_list {
    margin-top: 0 4px ;
}

.modal-room_item{
    list-style: none;
    padding: 8px 12px;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
}

.list-province {
    overflow: auto;
    max-height: 460px;
}

.item-province {
    padding: 12px 0;
    border-bottom: 1px solid #e5e5e5;
}

.login-container {
    width: 600px;
    min-height: 400px;
    border: 1px solid rgb(234,234,234);
    padding: 32px;
    border-radius: 8px;
    background-color: white;
    margin-left: 250px;
}

.login-title {

}

.login-label {
    display: block;
    padding: 20px 0 8px 0;
}

.login-input {
    width: 100%;
    border-radius: 4px;
    background-color: #e8f0fe;
    padding: 8px 0px;
    font-size: 15px;
    border: 1px solid #e8f0fe;
}

.login-footer_container {
    justify-content: space-between;
}

.login-submit {
    text-transform: none;
    margin: 12px 0px;
    padding: 12px 0px;
    width: 100%;
    color: white;
    border-radius: 4px;
    border: none;
    background: #3961fb;
}

.login-footer_container {
    justify-content: space-between;
    margin-top: 12px;
    display: flex;
}

.register_forgot-pw {
    font-size: 13px;
    margin: 12px 0;
}

.register_new-acc {
    font-size: 13px;
    margin: 12px 0;
}
